---
import { SITE_TITLE, SITE_LOGO } from "../config";
---

<header
  class="flex items-center justify-between py-6 max-w-5xl px-3 md:px-6 mx-auto"
>
  {
    SITE_LOGO ? (
      <img src={SITE_LOGO} alt={SITE_TITLE} class="w-8 h-8" />
    ) : (
      <span class="text-xl font-bold">{SITE_TITLE}</span>
    )
  }
  <nav>
    <ul class="flex items-center justify-center space-x-4">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/blog">Posts</a>
      </li>
    </ul>
  </nav>
</header>
