---
import "../styles/base.css";
import { join } from "node:path";
import { AstroFont } from "astro-font";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  heroImage?: string;
}

const { title, description, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {title} {description} image={heroImage} />
    <AstroFont
      config={[
        {
          src: [
            {
              style: "normal",
              path: join(
                process.cwd(),
                "public",
                "fonts",
                "Rubik-VariableFont_wght.ttf"
              ),
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
          name: "Rubik Variable",
        },
      ]}
    />
    <ViewTransitions />
  </head>
  <body class="bg-[#161616] text-stone-200">
    <Header />
    <main class="max-w-5xl px-3 md:px-6 mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
